{% load i18n static sekizai_tags sass_tags  %}

{% addtoblock "css" %}<link href="{% sass_src 'pages/css/product-list.scss' %}" rel="stylesheet" type="text/css" />{% endaddtoblock %}

{% addtoblock "js" %}<script src="{% static 'bower_components/angular-inview/angular-inview.js' %}"></script>{% endaddtoblock %}
{% addtoblock "shop-ng-requires" %}angular-inview{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'shop/js/catalog.js' %}" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "shop-ng-requires" %}django.shop.catalog{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>{% endaddtoblock %}
{% addtoblock "shop-ng-requires" %}ui.bootstrap{% endaddtoblock %}



<shop-catalog-filter>
    {% include "shop/catalog/product-filter.html" %}
</shop-catalog-filter>

{#{% include "shop/shop/navbar/search-form.html" %}#}

<shop-catalog-list>
    <p>Показано <span ng-bind="catalog.count"></span> из {{ data.count }}</p>
	<div class="row" ng-if="catalog.count===undefined">
	{% for product in data.results %}
		{% include "shop/catalog/product-preview.html" with ng=0 %}
	{% endfor %}
	</div>
	<div class="row" ng-cloak ng-if="catalog.count>=0">
		{% include "shop/catalog/product-preview.html" with ng=1 %}
	</div>
</shop-catalog-list>

{% include "shop/catalog/paginator.html" %}
