{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Server error" %}{% endblock title %}


{% block section_title %}
    <!-- Section General Title -->
    <div class="general-title bg-color">
        <h2>{% trans "Server error" %}</h2>
        <div class="title-devider"></div>
    </div>
{% endblock section_title %}

{% block section-content %}
<p class="text-center">{% trans "There's been an error. It's been reported to the site administrators via e-mail and should be fixed shortly. Thanks for your patience." %}</p>
{% endblock %}
