{% extends "base.html" %}
{% load static cms_tags i18n sass_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock %}
{% block section_title %}
    <div class="general-title bg-color">
        <h2>{% page_attribute "page_title" %}</h2>
        <div class="title-devider"></div>
    </div>
{% endblock %}

{% comment %}
{% block breadcrumb %}{% placeholder "Breadcrumb" or %}
    {% include "bootstrap/includes/breadcrumb-row.html" with breadcrumb_classes="breadcrumb" %}
{% endplaceholder %}{% endblock breadcrumb %}
{% endcomment %}

{% block content %}

    <!-- Site Wrapper -->
    <div class="site-wrapper">
        <!-- Blog -->
        {% block section-content %}<main class="cd-main-content shop-starter-template">{% placeholder "Main Content Container" inherit or %}
            <div class="container">
                <div class="row shop-starter-template">
                    <div class="col-xs-12">
                        <h1>Default Template</h1>
                        <p class="lead">Use this placeholder as a quick way to start editing a new CMS page.<br/>
                            All you have to do is to append <code>?edit</code> to the URL and switch to “Structure” mode.</p>
                    </div>
                </div>
            </div>
        {% endplaceholder %}</main> <!-- cd-main-content -->{% endblock section-content %}
    </div>
    <!-- End Site Wrapper -->
{% endblock content %}